@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-180deg);
  }
}

.search-bar {
  width: 100%;
  height: 2.5rem;
  margin-top: auto;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.9rem;

  label {
    width: fit-content;
    height: 2.5rem;
    position: relative;
    bottom: 2.5rem;
    left: calc(50% - 40px);
    transition: 0.25s ease;
    cursor: text;

    display: flex;
    align-items: center;
    justify-content: center;

    img {
      cursor: pointer;
      width: auto;
      height: 1.25rem;
      opacity: 0.5;
    }

    &:after {
      margin-left: 4px;
      content: "Search";
    }
  }

  input[type="text"] {
    width: calc(100% - 3.75rem);
    height: 100%;
    padding: 0rem 1rem 0rem 2.75rem;

    background: rgba(0, 0, 0, 0.4);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 2rem;
    transition: color 250ms linear, background-color 250ms linear;

    text-align: left;
    font-weight: 400;

    &:not(:focus) {
      color: rgba(255, 255, 255, 0.5);
      background-color: rgba(0, 0, 0, 0.4);
    }

    &:focus,
    &:valid,
    &:disabled {
      outline: none;
      color: rgb(0, 0, 0);
      background-color: rgba(255, 255, 255, 0.4);

      ~ label {
        color: rgba(2, 2, 2, 0.719);
        opacity: 0.8;
        left: 1rem;

        svg {
          transition: color 0.25s linear;
        }
      }

      &:invalid ~ label:after {
        content: "Search";
      }

      &:valid ~ label svg {
        transform: translate3d(0, 0, 0);
        backface-visibility: hidden;
        perspective: 1000px;
        cursor: pointer;
      }

      ~ label:after {
        content: "";
      }
    }

    &:not(:disabled) ~ label {
      svg:nth-child(1) {
        display: block;
      }
      svg:nth-child(2) {
        display: none;
      }
    }

    &:disabled ~ label {
      svg:nth-child(2) {
        animation: rotate 1s cubic-bezier(0.79, 0.33, 0.14, 0.53) infinite;
        display: block;
      }
      svg:nth-child(1) {
        display: none;
      }
    }
  }
}